footer.container-fluid
  .row  
    .container
      .row
        .col-md-6
          p © #[script { var d = new Date(); document.write(d.getFullYear()); }]  
           | All Rights Reserved
        .col-md-6
          p.text-right.contact Contact: 111-867-5309
